@font-face {
    font-family: rejo;
    src: url(./Fonts/Rejouice-Headline.ttf);
}

@font-face {
    font-family: nb;
    src: url(./Fonts/NBInternationalProBoo.ttf);
}

::selection {
    color: #00ffb7;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: nb;
}

html,
body {
    height: 100%;
    width: 100%;
}

.loader {
    background-color: #191e29;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease;
}

.loader h2 span {
    display: inline-block;
    color: #44ff1f;
    font-weight: lighter;
}

.page1 {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.cursor {
    width: 1vh;
    height: 1vh;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    z-index: 4;

}

.cursor h4 {
    font-size: 1.5vw;
    font-weight: lighter;

    color: #191e29;
}

.menu {
    height: 0vh;
    position: absolute;

}

.menu.active {
    position: absolute;
    z-index: 6;
    height: 65vh;
    width: 100vw;
    z-index: 15;
    background-color: #ffffff;
}

.menu-header {
    height: 35px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    margin-top: 2vw;
}

.menu-header a {
    color: #191e29;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
    font-weight: lighter;
    font-size: 1.5vw;
    letter-spacing: -1px;
}

.menu-header #close {
    position: relative;
}

.menu-header #close::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.menu-header #close:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-sec {
    height: 250px;
    width: 100vw;
    padding: 0vw 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.menu-sec h3 {
    color: #191e29
}

.menu-sec .vid {
    height: 250px;
    width: 300px;
    border-radius: 8px;
    position: relative;
}

.menu-sec .vid video {
    width: 300px;
    height: 220px;
    border-radius: 8px;
}

.menu-sec .vid .play {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 5px;
    gap: 5px;
    font-weight: lighter;
}

.menu-sec .vid .play #play {
    position: relative;
}

.menu-sec .vid .play #play::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #191e29;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.menu-sec .vid .play #play:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-sec .vid .play i {
    color: #191e29;
}

.menu-sec .vid .play h4 {
    font-weight: lighter;
    font-size: 1.1vw;
    margin-left: 170px;
}

.menu-sec .links h3 {
    font-size: 3.1vw;
    font-weight: lighter;
    margin-right: 15vw;
    cursor: pointer;
    line-height: 1;
    position: relative;
}

.menu-sec .links h3::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 50%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #191e29;
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.menu-sec .links h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-sec .links button {
    background-color: transparent;
    border: 1px solid #191e29;
    padding: 1vw 1.8vw;
    border-radius: 5px;
    font-size: 1.2vw;
    margin: 1.5vw 0vw 0vw 1.5vw;
    cursor: pointer;
}

.menu-sec .links button:hover {
    background-color: #696e79;
    color: #44ff1f;
    transition: background-color .3s ease;
}

.menu .menu-border {
    height: 1px;
    width: 0vw;
    margin: 4vw 3vw 0vw 3vw;
    background-color: #191e29;
}

.menu .small-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu .small-links h4 {
    font-weight: lighter;
    padding: 1vw 3vw;
}

.menu .small-links h3 {
    font-weight: lighter;
    padding: 1vw 3vw;
    font-size: 1.2vw;
    cursor: pointer;
    position: relative;
}

.menu .small-links h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 80%;
    bottom: 25%;
    left: 10%;
    transform: scaleX(0);
    background-color: #191e29;
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.menu .small-links h3:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page1 video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    z-index: 1;
}

.inner-content {
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    z-index: 10;
}

.inner-content nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: nb;
    padding: 3vw;
    font-size: .91vw;
}

.inner-content nav a {
    color: #fff;
    text-decoration: none;
    font-weight: lighter;
    cursor: pointer;
}

/* .REX{
    font-size: 2vw;
    align-self: center;
    font-family: rejo;
    color: #f53607;
    font-weight: 1000;
    background: linear-gradient(to right, #ffffff,#ff0000be,#ff0000be, #ffffff );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 3s linear infinite;
} */

.inner-content nav #menu {
    position: relative;
}

.inner-content nav #menu::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.inner-content nav #menu:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page1 .inner-content h1 {
    font-family: rejo;
    font-size: 0vw;
    text-align: center;
    letter-spacing: -.54vw;
    font-weight: 100
}

.inner-content h1 span {
    font-size: 22vw;
    font-weight: 100;
    font-family: nb;
    padding-top: 20%;
    text-align: center;
    display: inline-block;

}

.page2 {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.page2 .page2-top {
    height: 100px;
    width: 100vw;
    padding: .6vw 3vw;
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.page2 .page2-top h3 {
    font-size: 1.7vw;
    font-weight: lighter;
    letter-spacing: -.5px;
    color: #191e29;
}

.page2 .page2-top .first-text {
    overflow: hidden;
}

.page2 .page2-top-border {
    height: 1px;
    width: 0vw;
    margin: .6vw 3vw;
    background-color: #696e79;
}

.page2 .page2-bottom {
    height: 415px;
    width: 100vw;
    overflow: hidden;
    background-color: #ffffff;
}

.page2 .page2-bottom .btm-text {
    padding: 2vw 3vw;
    overflow: hidden;
    color: #191e29;
}

.page2 .page2-bottom .btm-text h2 .up {
    overflow: hidden;
}

.page2 .page2-bottom .btm-text h2 span {
    font-size: 4.45vw;
    font-weight: lighter;
    line-height: 1.2;
    letter-spacing: -1px;
    display: inline-block;
    overflow: hidden;
}

.page3 {
    height: 70vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.page3 .page3-text {
    overflow: hidden;
    height: 155px;
}

.page3 .page3-text h4 {
    color: #161616;
    font-weight: lighter;
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

.page3 .page3-text h4 span {
    font-size: .7vw;
    background-color: #696e79;
    color: #ffffff;
    border-radius: 100px;
    padding: 4px 6px;
    text-align: center;
}

.page3 .page3-text h4 i {
    color: #696e79;
    margin-top: 2px;
}

.page3 .page3-text h1 {
    cursor: pointer;
    font-size: 4vw;
    font-weight: lighter;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    color: #191e29;
}

.page3 .page3-text h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: #191e29;
    transition: transform .4s ease-out;
}

.page3 .page3-text h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page4 {
    height: 110vh;
    width: 100vw;
    background-color: #ffffff;
}

.page4 .page4-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vw 3vw;
}

.page4 .page4-text h2 {
    font-weight: lighter;
    font-size: 1.7vw;
    letter-spacing: -1px;
    position: relative;
    cursor: pointer;
    color: #191e29;
}

.page4 .page4-text h2::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #191e29;
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.page4 .page4-text h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.page4 .page4-video {
    height: 550px;
    width: 100vw;
    padding: 0vw 3vw;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
}

.page4 .page4-video .item {
    height: 550px;
    width: 32.7%;
    position: relative;
}

.page4 .page4-video .item svg {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.page4 .page4-video .item:hover img {
    display: none;
}

.page4 .page4-video .item video,
.page4 .page4-video .item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    cursor: pointer;
}

.page4 .top1 {
    width: 100%;
    width: 100vw;
    padding: 0vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: nb;
    font-weight: 1000;
    font-style: bold;
    font-size: 2vw;
    color: #191e29
}

.page5 {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.page5 .page5-top {
    height: 100px;
    width: 100vw;
    padding: .6vw 3vw;
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.page5 .page5-top h3 {
    font-size: 1.7vw;
    font-weight: lighter;
    letter-spacing: -.5px;
    color: #191e29;
}

.page5 .page5-top .top-text {
    overflow: hidden;
}

.page5 .page5-top-border {
    height: 1px;
    width: 0vw;
    margin: .6vw 3vw;
    background-color: #696e79;
}

.page5 .page5-bottom {
    height: 415px;
    width: 100vw;
    overflow: hidden;
}

.page5 .page5-bottom .btm-text {
    padding: 2vw 3vw;
    overflow: hidden;
}

.page5 .page5-bottom .btm-text h2 .up {
    overflow: hidden;
}

.page5 .page5-bottom .btm-text h2 span {
    font-size: 4.45vw;
    font-weight: lighter;
    line-height: 1;
    letter-spacing: -1px;
    display: inline-block;
    overflow: hidden;
    color: #191e29;
}

.page6 {
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
    position: relative;
}

.page6 video {
    position: absolute;
    height: 150%;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
}

.page6 svg {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
}

.page6 .crsr {
    height: .7vw;
    width: .7vw;
    background-color: #191e29;
    position: fixed;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.page6 .crsr h2 {
    color: #191e29;
    font-weight: lighter;
    font-size: 3vw;
}

.page6 .page6-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #0E0E0E;
}

.page6 .page6-text .seat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.page6 .page6-text .seat span {
    font-size: 5vw;
}

.page6 .page6-text .seat h2 {
    font-size: 5vw;
    font-weight: lighter;
    letter-spacing: -1.5px;
}

.page6 .page6-text .seat .seat-span {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70px;
    overflow: hidden;
}

.page6 .page6-text .seat .seat-span:hover h2 {
    transform: translateY(-400%);
    transition: transform 1s ease-in-out;
}

.page7 {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.page7 .page7-top {
    height: 100px;
    width: 100vw;
    padding: .6vw 3vw;
    margin-top: 30px;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.page7 .page7-top h3 {
    font-size: 1.7vw;
    font-weight: lighter;
    letter-spacing: -.5px;
    color: #191e29;
}

.page7 .page7-top .top-text {
    overflow: hidden;
}

.page7 .page7-top-border {
    height: 1px;
    width: 0vw;
    margin: .6vw 3vw;
    background-color: #696e79;
}

.page7 .page7-bottom {
    height: 415px;
    width: 100vw;
    overflow: hidden;
}

.page7 .page7-bottom .btm-text {
    padding: 2vw 3vw;
    overflow: hidden;
    color: #191e29;
}

.page7 .page7-bottom .btm-text h2 .up {
    overflow: hidden;
}

.page7 .page7-bottom .btm-text h2 span {
    font-size: 4.3vw;
    font-weight: lighter;
    line-height: 1;
    letter-spacing: -1px;
    display: inline-block;
    overflow: hidden;
}

.page8 {
    height: 80vh;
    width: 100vw;
    background-color: #ffffff;
}

.main {
    background-color: #ffffff;
}

.page8 .text {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0vw 3vw;
}

.page8 .text h1 {
    font-size: 8.5vw;
    font-family: rejo;
    font-weight: 500;
    letter-spacing: 1px;
}

.page8 .text h3 {
    font-size: 1.8vw;
    font-weight: lighter;
    position: relative;
    cursor: pointer;
}

.page8 .text h3::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    background-color: #191e29;
    transform-origin: bottom right;
    transition: transform .35s ease-out;
}

.page8 .text h3:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.page8 .text h3 i {
    font-size: 1.9vw;
    margin-right: 10px;
}

.page8 .page8-top-border {
    height: 1px;
    width: 94vw;
    margin: .6vw 3vw;
    background-color: #696e79;
}

.swiper {
    width: 100%;
    height: 50vh;
    margin-top: -5vw;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.swiper-slide img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0%;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.page9 {
    height: 20vh;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;

}

.page9 .page9-text {
    overflow: hidden;
    height: 155px;

}

.page9 .page9-text h4 {
    color: #161616;
    font-weight: lighter;
    display: flex;
    align-items: self-start;
    justify-content: center;
    gap: 5px;
    margin-bottom: 15px;
}

.page9 .page9-text h4 i {
    color: #161616;
    margin-top: 2px;
}

.page9 .page9-text h1 {
    cursor: pointer;
    font-size: 4vw;
    font-weight: lighter;
    letter-spacing: .5px;
    line-height: 1;
    position: relative;
}

.page9 .page9-text h1::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    background-color: #191e29;
    transition: transform .4s ease-out;
}

.page9 .page9-text h1:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.page9 .page9-text h1 a{
    color: #191e29;
    text-decoration: none;
    font-weight: 900;
}


/* ******************************************************************************************************************************** */
@media (max-width: 768px) {
    .loader {
        background-color: #000000;
        position: absolute;
        height: 100%;
        width: 100%;
    }

    .main {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .page1 {
        height: 70vh;
        width: 100%;
        background-color: #ffffff;
    }

    .cursor h4 {
        font-size: 7vw;
    }

    .menu {
        height: 0vh;
        position: absolute;

    }

    .menu.active {
        position: absolute;
        z-index: 6;
        /* display: grid; */
        height: 65vh;
        width: 100vw;
        z-index: 15;
        background-color: #ffffff;
    }

    .menu-header {
        height: 35px;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0vw 3vw;
        margin-top: 2vw;
    }

    .menu-header a {
        color: #191e29;
        text-decoration: none;
        font-weight: lighter;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-weight: lighter;
        font-size: 5vw;
        letter-spacing: -1px;
    }

    .menu-header #close {
        position: relative;
    }

    .menu-header #close::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #ffffff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .menu-header #close:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .menu-sec {
        height: 250px;
        width: 100vw;
        padding: 0vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .menu-sec h3 {
        color: #191e29;
        font-size: 4vw;

    }

    .menu-sec .links {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-self: center;
        flex-direction: column;
    }

    .menu-sec .links h3 {
        font-size: 5vw;
        font-weight: lighter;
        margin-right: 0vw;
        margin-top: 5px;
        cursor: pointer;
        line-height: 1;
        position: relative;
    }

    .menu-sec .links h3::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 50%;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .menu-sec .links h3:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .menu-sec .links button {
        background-color: transparent;
        border: 1px solid #191e29;
        padding: 3vw 3.5vw;
        border-radius: 10px;
        font-size: 3vw;
        margin: 5vw 0vw 0vw 1.5vw;
        cursor: pointer;
    }

    .menu-sec .links button:hover {
        background-color: #696e79;
        color: #44ff1f;
        transition: background-color .3s ease;
    }

    .menu .menu-border {
        height: 1px;
        width: 0vw;
        margin: 4vw 3vw 0vw 3vw;
        background-color: #191e29;
    }

    .menu .small-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu .small-links h4 {
        font-weight: lighter;
        padding: 1vw 3vw;
    }

    .menu .small-links h3 {
        font-size: 3vw;
    }

    .menu .small-links h3::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 80%;
        bottom: 25%;
        left: 10%;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .menu .small-links h3:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .menu-sec .vid {

        display: none;

    }

    .page1 video {
        height: 70vh;
        width: 100vw;
        object-fit: cover;
        position: absolute;
        z-index: 1;
    }

    .inner-content {
        height: 100%;
        width: 100%;
        color: #fff;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        z-index: 10;
    }

    .inner-content nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: nb;
        padding: 3vw;
        font-size: 3vw;
    }

    .inner-content nav a {
        color: #fff;
        text-decoration: none;
        font-weight: lighter;
        cursor: pointer;
    }

    /* .REX{
        font-size: 2vw;
        align-self: center;
        font-family: rejo;
        color: #f53607;
        font-weight: 1000;
        background: linear-gradient(to right, #ffffff,#ff0000be,#ff0000be, #ffffff );
        background-size: 200%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animate-gradient 3s linear infinite;
    } */

    .inner-content nav #menu {
        position: relative;
    }

    .inner-content nav #menu::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .inner-content nav #menu:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .page1 .inner-content h1 {
        font-family: rejo;
        font-size: 22vw;
        text-align: center;
        letter-spacing: -.54vw;
        font-weight: 100
    }

    .inner-content h1 span {
        /* font-size: 12vh; */
        font-weight: 100;
        font-family: nb;
        padding-top: 20%;
        text-align: center;
        display: inline-block;

    }

    .page2 {
        height: 35vh;
        width: 100vw;
        background-color: #ffffff;
    }

    .page2 .page2-top {
        height: 40px;
        width: 100vw;
        padding: .6vw 3vw;
        margin-top: 5px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }

    .page2 .page2-top h3 {
        font-size: 3vw;
        font-weight: lighter;
        letter-spacing: -.5px;
        color: #191e29;
    }

    .page2 .page2-top .first-text {
        overflow: hidden;
    }

    .page2 .page2-top-border {
        height: 1px;
        width: 0vw;
        margin: .6vw 3vw;
        background-color: #696e79;
    }

    .page2 .page2-bottom {
        height: 30vh;
        width: 100vw;
        overflow: hidden;
        background-color: #ffffff;
    }

    /* .page2 .page2-bottom .btm-text {
        padding: 2vw 3vw;
        overflow: hidden;
        color: #191e29;
    } */

    .page2 .page2-bottom .btm-text h2 .up {
        line-height: 1;
    }

    .page2 .page2-bottom .btm-text h2 span {
        line-height: 1.2;
    }
    #one {
        font-size: 4.45vw;
        font-weight: lighter;
        width: 100%;
        line-height:1.5;
        letter-spacing: -1px;
        display: inline-block;
        overflow: hidden;
        white-space-collapse:collapse;
    }
    .page3 {
        height: 20vh;
        /* width: 100vw; */
        margin-top: 50px;
        /* background-color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; */
    }

    .page3 .page3-text {
        /* overflow: hidden; */
        height: 20vh;
    }

    .page3 .page3-text h4 {
        /* color: #161616; */
        font-weight: 300;
        /* display: flex;
        align-items: self-start;
        justify-content: center;
        gap: 5px;
        margin-bottom: 15px; */
        font-size: 5vw;
    }

    .page3 .page3-text h4 span {
        font-size: 1.9vw;
        /* background-color: #696e79;
        color: #ffffff;
        border-radius: 100px;
        padding: 4px 6px;
        text-align: center; */
    }

    /* .page3 .page3-text h4 i {
        color: #696e79;
        margin-top: 2px;
    } */

    .page3 .page3-text h1 {
        cursor: pointer;
        font-size: 4vw;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 1px;
        position: relative;
        color: #191e29;
    }
/* 
    .page3 .page3-text h1::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        background-color: #191e29;
        transition: transform .4s ease-out;
    }

    .page3 .page3-text h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    } */

    .page4 {
        height: 60vh;
        width: 100%;
    }

    .page4 .page4-text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 3vw;
    }

    .page4 .page4-text h2 {
        font-weight: 500;
        font-size: 3.5vw;
        /* letter-spacing: -1px;
        position: relative;
        cursor: pointer;
        color: #191e29; */
    }

    /* .page4 .page4-text h2::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    } */

    /* .page4 .page4-text h2:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    } */

    .page4 .page4-video {
        height: 300px;
        width: 100%;
        /* padding: 0vw 3vw;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        justify-content: space-between; */
    }

    .page4 .page4-video .item {
        height: 300px;
        /* width: 32.7%;
        position: relative; */
    }

    /* .page4 .page4-video .item svg {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }

    .page4 .page4-video .item:hover img {
        display: none;
    }

    .page4 .page4-video .item video,
    .page4 .page4-video .item img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        cursor: pointer;
    } */

    .page4 .top1 {
        width: 100%;
        /* width: 100vw; */
        /* padding: 0vw 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: nb;
        font-weight: 900;
        font-style: bold; */
        font-size: 3vw;
        /* color: #191e29 */
    }

    .page5 {
        height: 60vh;
        width: 100vw;
        background-color: #ffffff;
    }

    .page5 .page5-top {
        height: 7vh;
        width: 100%;
        padding: .6vw 3vw;
        margin-top: 0px;
        /* display: flex;
        align-items: end;
        justify-content: space-between; */
    }

    .page5 .page5-top h3 {
        font-size: 3.7vw;
        /* font-weight: lighter;
        letter-spacing: -.5px;
        color: #191e29; */
    }

    .page5 .page5-top .top-text {
        overflow: hidden;
    }

    .page5 .page5-top-border {
        height: 1px;
        width: 0vw;
        margin: .6vw 3vw;
        background-color: #696e79;
    }

    .page5 .page5-bottom {
        height: 20vh;
        width: 100%;
        overflow: hidden;
    }

    .page5 .page5-bottom .btm-text {
        padding: 2vw 3vw;
        overflow: hidden;
    }

    .page5 .page5-bottom .btm-text h2 .up {
        overflow: hidden;
    }

    .page5 .page5-bottom .btm-text h2 span {
        font-size: 4.45vw;
        font-weight: 100;
        line-height: 1;
        letter-spacing: -1px;
        display: inline-block;
        overflow: hidden;
        color: #191e29;
    }

    .page6 {
        height: 20vh;
        width: 100vw;
        background-color: #ffffff;
        position: relative;
    }

    .page6 video {
        position: absolute;
        height: 70vh;
        width: 100%;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
    }

    .page6 svg {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 35vh;
        position: absolute;
    }

    .page6 .crsr {
        height: .7vw;
        width: .7vw;
        background-color: #191e29;
        position: fixed;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
    }

    .page6 .crsr h2 {
        color: #191e29;
        font-weight: lighter;
        font-size: 3vw;
    }

    .page6 .page6-text {
        position: absolute;
        top: 00%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        flex-direction: column;
        color: #0E0E0E;
    }

    .page6 .page6-text .seat {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .page6 .page6-text span {
        font-size: 3.2vw;
        
        
    }

    .page6 .page6-text .seat h2 {
        font-size: 6vw;
        font-weight: 500;
        letter-spacing: -1.5px;
    }

    .page6 .page6-text .seat .seat-span {
        display: none;
    }

    .page6 .page6-text .seat .seat-span:hover h2 {
        transform: translateY(-400%);
        transition: transform 1s ease-in-out;
    }

    .page7 {
        height: 70vh;
        width: 100vw;
        background-color: #ffffff;
    }

    .page7 .page7-top {
        height: 100px;
        width: 100%;
        /* padding: .6vw 3vw;
        margin-top: 0px;
        display: flex;
        align-items: end;
        justify-content: space-between; */
    }

    .page7 .page7-top h3 {
        font-size: 3.7vw;
        font-weight: lighter;
        letter-spacing: -.5px;
        color: #191e29;
    }

    .page7 .page7-top .top-text {
        overflow: hidden;
    }

    .page7 .page7-top-border {
        height: 1px;
        width: 0vw;
        margin: .6vw 3vw;
        background-color: #696e79;
    }

    .page7 .page7-bottom {
        height: 30vh;
        width: 100vw;
        overflow: hidden;
    }

    .page7 .page7-bottom .btm-text {
        padding: 2vw 3vw;
        overflow: hidden;
        color: #191e29;
    }

    .page7 .page7-bottom .btm-text h2 .up {
        overflow: hidden;
    }

    .page7 .page7-bottom .btm-text h2 span {
        font-size: 4.4vw;
        font-weight: lighter;
        line-height: 1;
        letter-spacing: -0.5px;
        display: inline-block;
        overflow: hidden;
    }

    .page8 {
        height: 50vh;
        width: 100vw;
        background-color: #ffffff;
    }

    .main {
        background-color: #ffffff;
    }

    .page8 .text {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding: 0vw 3vw;
    }

    .page8 .text h1 {
        font-size: 8.5vw;
        font-family: rejo;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .page8 .text h3 {
        font-size: 3.8vw;
        /* font-weight: lighter;
        position: relative;
        cursor: pointer; */
    }

    .page8 .text h3::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .page8 .text h3:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .page8 .text h3 i {
        font-size: 3.9vw;
        margin-right: 10px;
    }

    .page8 .page8-top-border {
        height: 1px;
        width: 94vw;
        margin: .6vw 3vw;
        background-color: #696e79;
    }

    .swiper {
        width: 100%;
        height: 25vh;
        margin-top: -5vw;
        position: relative;
    }

    .swiper-slide {
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 18px;
        background: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
    }

    .swiper-slide img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        position: absolute;
        bottom: 0%;
    }

    .swiper {
        margin-left: auto;
        margin-right: auto;
    }

    .page9 {
        height: 20vh;
        width: 100vw;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        text-align: center;

    }

    .page9 .page9-text {
        overflow: hidden;
        height: 155px;

    }

    .page9 .page9-text h4 {
        color: #161616;
        font-weight: lighter;
        display: flex;
        align-items: self-start;
        justify-content: center;
        gap: 5px;
        margin-bottom: 15px;
    }

    .page9 .page9-text h4 i {
        color: #161616;
        margin-top: 2px;
    }

    .page9 .page9-text h1 {
        cursor: pointer;
        font-size: 4vw;
        font-weight: lighter;
        letter-spacing: .5px;
        line-height: 1;
        position: relative;
    }

    .page9 .page9-text h1::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: bottom right;
        background-color: #191e29;
        transition: transform .4s ease-out;
    }

    .page9 .page9-text h1:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    footer {
        height: 80vh;
        width: 100vw;
        background-color: #000000e1;
    }

        footer .footer-top {
            height: 65vh;
            width: 100vw;
            /* background-color: red; */
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }

    .footer-top .first {
        height: 40%;
        display: flex;
        flex-direction: row;
        gap: 18vw;
        padding: 2.5vw;
        color: #696e79;
    }

    .footer-top .first .first-top h2 {
        font-weight: lighter;
        letter-spacing: -.5px;
    }

    .footer-top .first .first-top button {
        padding: 15px 20px;
        margin-top: 20px;
        border-radius: 10px;
        border: 1px solid #696e79;
        font-size: 3.1vw;
        font-weight: lighter;
        background: transparent;
        color: #696e79;
        cursor: pointer;
        transition: background-color .3s ease;
    }

    .footer-top .first .first-top button:hover {
        background-color: #696e79;
        color: #696e79;
    }

    .footer-top .first .first-btm h4 {
        font-weight: lighter;
        font-size: 3vw;
    }

    .footer-top .second {
        height: 90%;
        display: flex;
        width: 100%;

        align-items: center;
        justify-content: space-around;
        gap: 18vw;
        font-size: 3vw;
        /* background-color: red; */
        /* margin-top: -vw; */
        padding-right: 3vw;
        color: #696e79;
    }

    .second .second-one {
        display: flex;
        flex-direction: column;
        gap: 15vw;
    }

    .second .second-one .span span {
        display: flex;
        flex-direction: column;
        position: relative;
        cursor: pointer;

    }

    .second .second-one .span>span::after,
    .second .second-one .span1>span::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0%;
        left: 0%;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .second .second-one .span>span:hover::after,
    .second .second-one .span1>span:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .second .second-two {
        display: flex;
        flex-direction: column;
        gap: 25vw;
    }

    .second .second-two .span span {
        display: flex;
        position: relative;
        cursor: pointer;
    }

    .second .second-two .span>span::after,
    .second .second-two .span1>span::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        bottom: 0%;
        left: 0%;
        transform: scaleX(0);
        background-color: #191e29;
        transform-origin: bottom right;
        transition: transform .35s ease-out;
    }

    .second .second-two .span>span:hover::after,
    .second .second-two .span1>span:hover::after {
        transform-origin: bottom left;
        transform: scaleX(1);
    }

    .second .second-two .span1 {
        position: relative;
        cursor: pointer;
    }

    .second .second-one .span1 {
        position: relative;
        cursor: pointer;
    }

    footer .footer-bottom {
        height: 305vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding: 0%;
        margin: 0%;
        overflow: hidden;
    }

    footer .footer-bottom h1 {
        font-size: 15vw;

        font-weight: 900;
        letter-spacing: 1vw;
        position:absolute; display:block; white-space:nowrap
    }

    @keyframes animate-gradient {
        to {
            background-position: 200%;
        }
    }

}